::-webkit-scrollbar {
  display: none;
}

body {
  display: grid;
  user-select: none;
  font-size: 32px;
  place-items: center;
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.modal {
  display: none;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -100px;
  width: 300px;
  height: 150px;
  text-align: center;
  background-color: #555;
  color: #fff;
  overflow: hidden;
  animation: appear 1s;
  border-radius: 20px;
}

.modal-content > p {
  text-align: center;
}
#noFiles > p {
  padding-top: 20px;
}

.file {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.fullscreenFile {
  grid-column: 1 / span 2;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.wideFile {
  grid-column: 1 / span 2;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.wideFile2 {
  grid-column: 3 / span 4;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.centeredFile {
  grid-column: 2 / span 2;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#files1 {
  display: grid;
  grid-template-columns: repeat(2, minmax(1vh, 100vh));
  grid-auto-rows: 98.6vh;
}

#files2 {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(1, minmax(1vh, 100vh));
  grid-auto-rows: 48vh;
}

#files3 {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, minmax(1vh, 100vh));
  grid-auto-rows: 48vh;
}

#files4 {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, minmax(1vh, 100vh));
  grid-auto-rows: 48vh;
}